<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Klepp"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://gg.klepp.me/{{path}}"/>
    <meta property="og:video" content="https://gg.klepp.me/{{path}}"/>
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="398">
    <meta property="og:video:height" content="264">
    <meta property="og:image" content="https://klepp.me/favicon.ico"/>
    <meta name="theme-color" content="#FF0000">
    <title>Klepp video</title>
    <style>
    body {background: linear-gradient(90deg,#0f2027,#36474f 50%,#2c5364)}
    .videoplayer {width: 100%; height: 100%}
    </style>
</head>
<body>
<div class="videoplayer">
    <video controls>
        <source src="https://gg.klepp.me/{{path}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
</body>
</html>
