<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klepp.me - {{video_dict.display_name}}</title>
    <meta property="og:title" content="Klepp {{video_dict.name}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{video_dict.uri}}"/>
    <meta property="og:video" content="{{video_dict.uri}}"/>

    <meta property="og:image" content="{{video_dict.thumbnail_uri}}"/>
    <meta name="theme-color" content="#FF0000">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta property="og:site_name" content="Klepp.me"/>
    <meta property="og:title" content="{{video_dict.display_name}}" />
    <meta name="description" content="Watch &#34;{{video_dict.display_name}}&#34; on Klepp.me">
    <link rel="shortcut icon" href="https://klepp.me/favicon.ico">
    <meta property="og:type" content="video.other">
    <meta property="og:image" content="{{video_dict.thumbnail_uri}}" />
    <meta property="og:image:secure_url" content="{{video_dict.thumbnail_uri}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:updated_time" content="{{video_dict.uploaded_at}}" />
    <meta property="og:url" content="{{video_dict.uri}}">
    <style>
    body {background: linear-gradient(90deg,#0f2027,#36474f 50%,#2c5364);  display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;}
    .videoplayer {  position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);}
    #videocontrols {width: 100vw; height: 100vh; position: absolute; top: 0; left: 0;}
    </style>
</head>
<body>
<div class="videoplayer">
    <video controls id="videocontrols">
        <source src="{{ video_dict.uri }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
</body>
</html>
